<form [formGroup]="paginationForm">
  <input formControlName="page">
  <input formControlName="per_page">
</form>



<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<div>
  <table>
    <thead>
    <th>Name</th>
    <th>Last name</th>
    <th>email</th>
    <th>avatar</th>
    </thead>
    <tbody>
    <tr *ngFor="let user of data?.data" (click)="detail(user.id)">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td><img [src]="user.avatar"></td>
    </tr>
    </tbody>
  </table>
  </div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
