<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form class="" [formGroup]="registerForm" (ngSubmit)="register()">
      <p>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="string" matInput formControlName="username" placeholder="user666">
          <mat-error *ngIf="registerForm.get('username')!.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="name@email.com">
          <mat-error *ngIf="registerForm.get('email')!.hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')!.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="***">
          <mat-error *ngIf="registerForm.get('password')!.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <div>
        <button (submit)="register()" mat-raised-button>Register</button>
      </div>
      <div class="mt-3">
        <a [routerLink]="['/login']">Already have an account?</a>
      </div>

    </form>
  </mat-card-content>
</mat-card>
